{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<style>
.alert {
     position: relative;
     padding: 0.75rem 1.25rem;
     margin-bottom: 1rem;
     border: 1px solid transparent;
     border-radius: 0.25rem;
}
 .alert-heading {
     color: inherit;
}
 .alert-link {
     font-weight: 700;
}
 .alert-dismissible {
     padding-right: 4rem;
}
 .alert-dismissible .close {
     position: absolute;
     top: 0;
     right: 0;
     z-index: 2;
     padding: 0.75rem 1.25rem;
     color: inherit;
}
 .alert-primary {
     color: #234266;
     background-color: #d9e5f3;
     border-color: #cadbee;
}
 .alert-primary hr {
     border-top-color: #b7cee8;
}
 .alert-primary .alert-link {
     color: #162940;
}
 .alert-secondary {
     color: #2c363f;
     background-color: #dde1e4;
     border-color: #cfd5da;
}
 .alert-secondary hr {
     border-top-color: #c1c8cf;
}
 .alert-secondary .alert-link {
     color: #171c21;
}
 .alert-success {
     color: #13603e;
     background-color: #d3f1e4;
     border-color: #c2ebd9;
}
 .alert-success hr {
     border-top-color: #afe5cd;
}
 .alert-success .alert-link {
     color: #0b3523;
}
 .alert-info {
     color: #0c5460;
     background-color: #d1ecf1;
     border-color: #bee5eb;
}
 .alert-info hr {
     border-top-color: #abdde5;
}
 .alert-info .alert-link {
     color: #062c33;
}
 .alert-warning {
     color: #7c5c15;
     background-color: #fcefd4;
     border-color: #fae9c3;
}
 .alert-warning hr {
     border-top-color: #f8e0ab;
}
 .alert-warning .alert-link {
     color: #503c0e;
}
 .alert-danger {
     color: #642626;
     background-color: #f2dbdb;
     border-color: #edcccc;
}
 .alert-danger hr {
     border-top-color: #e6b9b9;
}
 .alert-danger .alert-link {
     color: #3f1818;
}
 .alert-light {
     color: #7c7d7f;
     background-color: #fcfcfd;
     border-color: #fbfbfc;
}
 .alert-light hr {
     border-top-color: #ececf1;
}
 .alert-light .alert-link {
     color: #636465;
}
 .alert-dark {
     color: #2e2e2e;
     background-color: #dedede;
     border-color: #d1d1d1;
}
 .alert-dark hr {
     border-top-color: #c4c4c4;
}
 .alert-dark .alert-link {
     color: #151515;
}
 .show {
    display: block !important;
    opacity: 1;
}
 .fade {
     transition: opacity 0.15s linear;
}
 .fade:not(.show) {
     opacity: 0;
}
 .collapse:not(.show) {
     display: none;
}
 .collapsing {
     position: relative;
     height: 0;
     overflow: hidden;
     transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
     .fade {
         transition: none;
    }
     .collapsing {
         transition: none;
    }
}
</style>

{% for message in app.flashes('eccube.front.info') %}
    <div class="alert alert-primary alert-dismissible fade show m-3" role="alert">
        <i class="fa fa-comment fa-lg mr-2"></i>
        <span class="font-weight-bold">{{ message|trans }}</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}

{% for message in app.flashes('eccube.front.success') %}
    <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
        <i class="fa fa-check fa-lg mr-2"></i>
        <span class="font-weight-bold">{{ message|trans }}</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}

{% for message in app.flashes('eccube.front.danger') %}
    <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        <i class="fa fa-warning fa-lg mr-2"></i>
        <span class="font-weight-bold">{{ message|trans }}</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}

{% for message in app.flashes('eccube.front.error') %}
    <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        <i class="fa fa-warning fa-lg mr-2"></i>
        <span class="font-weight-bold">{{ message|trans }}</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}

{% for message in app.flashes('eccube.front.warning') %}
    <div class="alert alert-warning alert-dismissible fade show m-3" role="alert">
        <i class="fa fa-warning fa-lg mr-2"></i>
        <span class="font-weight-bold">{{ message|trans }}</span>
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}
