{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'mypage' %}

{% set mypageno = 'blog' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload.css', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload-ui.css', 'admin') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>
        #thumb div {
            float: left;
            margin: 4px
        }

        .ui-state-highlight {
            height: 70px;
            width: 70px;
            border: dashed 1px #ccc;
            background: #fff;
        }
        .c-form__fileUploadThumbnail {
            display: inline-block;
            width: 170px;
            height: 170px;
            background-color: #f5f6f8;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            position: relative;
        }
        .c-form__fileUploadThumbnail::before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background: transparent;
        }
        .c-form__fileUploadThumbnail:hover::before {
            background: rgba(0, 0, 0, 0.5);
        }
        .c-form__fileUploadThumbnail .delete-image {
            display: none;
            font-family: FontAwesome;
            font-size: 18px;
            line-height: 1;
            color: #54687A;
            padding: 5px;
            background: #fff;
            border-radius: 3px;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .c-form__fileUploadThumbnail:hover .delete-image {
            display: inline-block;
            font-family: FontAwesome;
            font-size: 18px;
            line-height: 1;
            color: #54687A;
            padding: 5px;
            background: #fff;
            border-radius: 3px;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .d-none {
            display: none;
        }
        .ec-editBlogRole {
            display: flex;
            padding: 20px;
            background: #f5f5f5;
            /* background: #eff0f4; */
        }
        .ec-editBlogRole .ec-grid__left {
            width: calc(100% - 230px);
            margin-right: 10px;
            border-radius: 5px;
            padding: 10px 20px;
            background: white;
        }
        .ec-editBlogRole .ec-grid__right {
            width: 230px;
            margin-left: 10px;
            border-radius: 5px;
            padding: 10px 12px;
            background: white;
        }

        .ec-editBlogRole .ec-borderedDefs {
            border-top: unset;
        }
        .ec-editBlogRole .list-unstyled {
            margin-bottom: 0;
        }

        .p-3 {
            padding: 1rem !important;
        }
        .mb-3 {
            margin-bottom: 1rem !important;
        }
        .rounded {
            border-radius: 0.25rem !important;
        }
        .border {
            border: 1px solid #dee2e6 !important
        }

        .cs-dflex {
            display: flex;
        }
        .cs-dflex.datetime {
            font-size: 14px;
        }
        .cs-dflex.datetime .cs-datetime-title {
            width: 80px;
        }
        .cs-dflex.datetime cs-datetime {
            width: calc(100% - 75px);
        }

        p.header {
            margin-bottom: 10px;
            padding-left: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
        .ec-borderedDefs dl {
            padding: 15px 0 15px;
        }

        #upload-zone {
            border: 1px dashed #ccc;
            border-radius: 0.25rem;
            padding: 3rem;
            display: flex;
            align-items: flex-start;
        }
        .media-body {
            flex: 1;
        }
        .btn-ec-regular {
            color: #212529;
            background-color: #FFFFFF;
            border-color: #595959;
            color: #595959;
            cursor: pointer;
        }

        #admin_product_affiliate_reward {
            width: 160px;
        }

        .datetime {
            max-width: 160px;
        }

        .label {
            color: #525263;
            background: aliceblue;
        }

        .ec-editBlogRole .tox .tox-promotion-link {
            display: none;
        }

        .ec-editBlogRole .error .tox .tox-edit-area__iframe {
            border: 1px solid #CF3F34;
            background: #FDF1F0;
        }

        .ec-input .ec-errorMessage {
            margin-top: 5px;
        }

        @media only screen and (min-width: 768px) {
            .ec-borderedDefs dt {
                padding: 0 10px 0;
            }
            .ec-borderedDefs dd {
                padding-left: 10px;
            }
        }

        @media only screen and (max-width: 767px) {
            .ec-editBlogRole {
                padding: 0;
                flex-direction: column;
            }
            .ec-editBlogRole .ec-grid__left {
                width: 100%;
                margin-right: 0;
                padding: 0;
            }
            .ec-editBlogRole .ec-grid__right {
                width: 100%;
                margin-top: 20px;
                margin-left: 0;
            }
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    
    <script src="{{ asset('assets/js/fileupload/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload-image.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload-validate.js') }}"></script>
    <script>var bootstrapTooltip = $.fn.tooltip.noConflict();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $.fn.tooltip = bootstrapTooltip;
        $(document).on('drop dragover', function(e) {
            e.preventDefault();
        });
        $(function() {
            // Todo: fix drag&drop style
            $("#thumb").sortable({
                cursor: 'move',
                opacity: 0.7,
                placeholder: 'ui-state-highlight',
                update: function(event, ui) {
                    updateSortNo();
                }
            });
            {% if has_class == false %}
            if ($("#{{ form.class.stock_unlimited.vars.id }}").prop("checked")) {
                $("#{{ form.class.stock.vars.id }}").attr("disabled", "disabled").val('');
            } else {
                $("#{{ form.class.stock.vars.id }}").removeAttr("disabled");
            }
            $("#{{ form.class.stock_unlimited.vars.id }}").on("click change", function() {
                if ($(this).prop("checked")) {
                    $("#{{ form.class.stock.vars.id }}").attr("disabled", "disabled").val('');
                } else {
                    $("#{{ form.class.stock.vars.id }}").removeAttr("disabled");
                }
            });
            {% endif %}
            var max_file_count = 1;

            var proto_img = '<div class="c-form__fileUploadThumbnail" style="background-image:url(\'__path__\');">' +
                '<a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>' +
                '</div>';
            var proto_add = '{{ form_widget(form.add_images.vars.prototype) }}';
            var proto_del = '{{ form_widget(form.delete_images.vars.prototype) }}';
            {% for key, image in form.images if key == 0 %}
            var $img = $(proto_img.replace(/__path__/g, '{{ asset(image.vars.value, 'save_image') }}'));
            var $widget = $('{{ form_widget(image) }}');
            $widget.val('{{ image.vars.value }}');
            $("#thumb").append($img.append($widget));
            {% endfor %}
            {% for add_image in form.add_images %}
            var $img = $(proto_img.replace(/__path__/g, '{{ asset(add_image.vars.value, 'temp_image') }}'));
            var $widget = $('{{ form_widget(add_image) }}');
            $widget.val('{{ add_image.vars.value }}');
            $("#thumb").append($img.append($widget));
            {% endfor %}
            {% for delete_image in form.delete_images %}
            $("#thumb").append('{{ form_widget(delete_image) }}');
            {% endfor %}
            var hideThumbnail = function() {
                if ($("#thumb div").length > 0) {
                    $("#icon_no_image").css("display", "none");
                    $('#message').html("{{ 'admin.common.drag_and_drop_description'|trans }}");
                } else {
                    $("#icon_no_image").css("display", "");
                    $('#message').empty();
                }
            };
            // Todo: fix update sort by drag&drop
            var updateSortNo = function() {
                $("#thumb div").each(function(index) {
                    $(this).find(".sort_no_images").remove();
                    filename = $(this).find("input[type='hidden']").val();
                    $sortNo = $('<input type="hidden" class="sort_no_images" name="sort_no_images[]" />');
                    $sortNo.val(filename + '//' + parseInt(index + 1));
                    $(this).append($sortNo);
                });
            };
            hideThumbnail();
            updateSortNo();
            // Delete of images
            var count_del = 0;
            $("#thumb").on("click", '.delete-image', function() {
                var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
                var thumbnail = $(this).parents('div.c-form__fileUploadThumbnail');
                var src = $(thumbnail).find('input').val();
                $new_delete_image.val(src);
                $("#thumb").append($new_delete_image);
                $(thumbnail).remove();
                hideThumbnail();
                updateSortNo();
                count_del++;
            });
            var count_add = {{ form.add_images|length|default(0) }};
            $.blueimp.fileupload.prototype.processActions.duplicateImage = function (data, options) {
                if (data.canvas) {
                    data.files.push(data.files[data.index]);
                }
                return data;
            };
            $('#{{ form.product_image.vars.id }}').fileupload({
                url: "{{ url('mypage_blog_image_add') }}",
                type: "post",
                sequentialUploads: true,
                dataType: 'json',
                dropZone: $('#upload-zone'),
                disableImageResize: false,
                processQueue: [
                    {
                        action: 'loadImage',
                        fileTypes: /^image\/(gif|jpeg|png)$/,
                        maxFileSize: 20000000 // 20MB
                    },
                    {
                        action: 'resizeImage',
                        maxWidth: 1600,
                        maxHeight: 900
                    },
                    {action: 'saveImage'},
                    {action: 'duplicateImage'},
                    {
                        action: 'resizeImage',
                        maxWidth: 1280,
                        maxHeight: 720
                    },
                    {action: 'saveImage'},
                    {action: 'duplicateImage'},
                    {
                        action: 'resizeImage',
                        maxWidth: 800,
                        maxHeight: 450
                    },
                    {action: 'saveImage'}
                ],
                change: function(e, data) {
                    if ( (data.files.length + count_add - count_del) > max_file_count){
                        data.files = [];
                        alert("1つの画像しか登録できません。");
                    }
                },
                drop: function(e, data) {
                    if ( (data.files.length + count_add - count_del) > max_file_count){
                        data.files = [];
                        alert("1つの画像しか登録できません。");
                    }
                },
                done: function(e, data) {
                    var iterater = 0;
                    $('.progress').hide();
                    $.each(data.result.files, function(index, file) {
                        var path = '{{ asset('', 'temp_image') }}' + file;
                        var $img = $(proto_img.replace(/__path__/g, path));
                        var $new_img = $(proto_add.replace(/__name__/g, count_add));
                        $new_img.val(file);
                        $child = $img.append($new_img);
                        if (0 != iterater) {
                            $child.css('display', 'none');
                        }
                        $('#thumb').append($child);
                        count_add++;
                        iterater++;
                    });
                    hideThumbnail();
                    updateSortNo();
                },
                fail: function(e, data) {
                    alert("{{ 'admin.common.upload_error'|trans }}");
                },
                always: function(e, data) {
                    $('.progress').hide();
                    $('.progress .progress-bar').width('0%');
                },
                start: function(e, data) {
                    $('.progress').show();
                },
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 10000000,
                maxNumberOfFiles: 10,
                progressall: function(e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                },
                processalways: function(e, data) {
                    if (data.files.error) {
                        alert("{{ 'admin.common.upload_error'|trans }}");
                    }
                }
            });
            // 画像アップロード
            $('#file_upload').on('click', function() {
                $('#{{ form.product_image.vars.id }}').click();
            });

            $('button[name="status"]').on('click', function(){
                $('#admin_product_Status').val($(this).attr('value')).change();
                $('#form1').submit();
            });
        });

        // searchWordの実行
        $('#search-category').on('input', function () {
            searchWord($(this).val(), $('.category-li'));
        });
    </script>
    <script type="text/javascript" src="{{ asset('assets/tinymce/tinymce.min.js', 'user_data') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#admin_product_description_detail',
            height: '600',
            plugins : 'code image link',
            menubar: false,
            toolbar : 'undo redo | h2 h3 bold italic forecolor backcolor image link | alignleft aligncenter alignright alignjustify | outdent indent code',
            toolbar_mode: 'sliding',
            mobile: {
                toolbar_mode: 'wrap',
            },
            language: 'ja',
            language_url: '{{ asset("assets/tinymce/langs/ja.js", "user_data") }}',
            images_upload_url: '{{ url("mypage_blog_upload") }}',
            automatic_uploads: true,
            branding: false,
            relative_urls: false,
            hidden_input: false
        });
        tinymce.init({
            selector: '#wysiwyg-area',
            height: '600',
            plugins : 'code image link',
            menubar: false,
            toolbar : 'undo redo | h2 h3 bold italic forecolor backcolor image link | alignleft aligncenter alignright alignjustify | outdent indent code',
            toolbar_mode: 'sliding',
            mobile: {
                toolbar_mode: 'wrap',
            },
            language: 'ja',
            language_url: '{{ asset("assets/tinymce/langs/ja.js", "user_data") }}',
            images_upload_url: '{{ url("mypage_blog_upload") }}',
            automatic_uploads: true,
            branding: false,
            relative_urls: false,
            hidden_input: false
        });

        $(function (){
            {% if description_detail is not empty %}
                var content = '{{ description_detail }}';
                content = content.replace(/&lt;/g, '<');
                content = content.replace(/&gt;/g, '>');
                $('#admin_product_description_detail').val(content);
            {% endif %}

            {% if free_area is not empty %}
                content = '{{ free_area }}';
                content = content.replace(/&lt;/g, '<');
                content = content.replace(/&gt;/g, '>');
                $('#wysiwyg-area').val(content);
            {% endif %}
        })
    </script>
{% endblock javascript %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            {{ include('Mypage/alert.twig') }}
            <div class="ec-pageHeader">
                <h1>{{ 'front.mypage.title'|trans }}/{{ '記事登録'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>
        <div class="ec-mypageRole">
            <form role="form" name="form1" id="form1" method="post"
                action="
                    {% if app.request.attributes.has('id') %}
                        {{ url(app.request.attributes.get('_route'), { id: app.request.attributes.get('id') }) }}
                    {% else %}
                        {{ url(app.request.attributes.get('_route')) }}
                    {% endif %}
                "
                novalidate enctype="multipart/form-data">
                {{ form_widget(form._token) }}
                <div class="ec-editBlogRole">
                    <div class="ec-grid__left">
                        <div class="ec-borderedDefs">
                            <dl>
                                <dt>
                                    {{ form_label(form.name, 'admin.product.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.name) ? ' error' }}">
                                        {{ form_widget(form.name, {attr : { rows : "2" } }) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                    <div class="d-none">
                                        {{ form_widget(form.class.sale_type) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <div class="d-inline-block ec-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.product.image'|trans }}">
                                        <span>{{ 'admin.product.image'|trans }}</span>
                                        <br>{{ '推奨サイズ : 1280px×670px'|trans }}
                                    </div><br>
                                    <span style="font-size: 13px;">※上記サイズでない場合、正しく表示されない場合があります。</span>
                                </dt>
                                <dd>
                                    <div class="progress" style="display: none;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div id="thumb" class="c-form__fileUploadThumbnails clearfix"></div>
                                    <p id="message"></p>
                                    <div id="upload-zone" class="media py-5 border-ec-dashed mb-2 rounded">
                                        <div class="media-body">
                                            <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                            {{ 'admin.common.drag_and_drop_image_description'|trans }}
                                            {{ form_widget(form.product_image, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                            {{ form_errors(form.product_image) }}
                                            <a class="btn btn-ec-regular mr-2" onclick="$('#admin_product_product_image').click()">
                                                {{ 'admin.common.file_select'|trans }}
                                            </a>
                                        </div><!-- /.media-body -->
                                    </div><!-- /.media -->
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <div class="d-inline-block ec-label" data-tooltip="true" data-placement="top"
                                        title="{{ 'セールスレター'|trans }}">
                                        <span>{{ 'セールスレター'|trans }}</span>
                                        <span class="ec-required">必須</span>
                                    </div>
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.description_detail) ? ' error' }}">
                                        {{ form_widget(form.description_detail, { attr : { rows : "12" } }) }}
                                        {{ form_errors(form.description_detail) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <span class="ec-label">{{ 'マニュアル'|trans }}</span>
                                    <span class="ec-required">必須</span>
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.free_area) ? ' error' }}">
                                        {{ form_widget(form.free_area, {id: 'wysiwyg-area', attr : { rows : "12" } }) }}
                                        {{ form_errors(form.free_area) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <div class="d-inline-block ec-label">
                                        <span>{{ 'admin.product.sale_price'|trans }}</span>
                                        <span class="ec-required">必須</span>
                                        <span class="label">最低価格100円</span>
                                    </div>
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.class.price02) ? ' error' }}">
                                        <input type="text" id="admin_product_class_price02" name="admin_product[class][price02]" required="required" value="{{ form.class.price02.vars.value }}">
                                    </div>
                                    <div class="d-none">
                                        {{ form_widget(form.Status) }}
                                        {{ form_errors(form.Status) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <div class="d-inline-block ec-label">
                                        <span>{{ 'admin.product.stock'|trans }}</span>
                                        <span class="ec-required">必須</span>
                                    </div>
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.class.stock) ? ' error' }}">
                                        {{ form_widget(form.class.stock) }}
                                        {{ form_errors(form.class.stock) }}
                                    </div>
                                    {{ form_widget(form.class.stock_unlimited) }}
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <div class="d-inline-block ec-label">
                                        <span>{{ 'アフィリエイト報酬'|trans }}</span>
                                        <span class="ec-required">必須</span>
                                    </div>
                                </dt>
                                <dd>
                                    <div class="ec-select{{ has_errors(form.affiliate_reward) ? ' error' }}">
                                        {{ form_widget(form.affiliate_reward) }}
                                        {{ form_errors(form.affiliate_reward) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <div class="d-inline-block ec-label">
                                        <span>{{ '記事投稿日'|trans }}</span>
                                    </div>
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.launch_date) ? ' error' }} datetime">
                                        {{ form_widget(form.launch_date) }}
                                        {{ form_errors(form.launch_date) }}
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="ec-grid__right ec-label">
                        <div>
                            <p class="header">カテゴリ</p>
                            {% macro tree(ChoicedIds, Category, form) %}
                                {% import _self as selfMacro %}
                                <li class="c-directoryTree--registerItem category-li">
                                    <input type="checkbox" id="admin_product_category_{{ Category.id }}" name="admin_product[Category][]" value="{{ Category.id }}" {% if Category.id in ChoicedIds %}checked{% endif %}>
                                    <label for="admin_product_category_{{ Category.id }}">{{ Category.name }}</label>
                                    <ul class="list-unstyled">
                                        {% for child,ChildCategory in Category.children %}
                                            {{ selfMacro.tree(ChoicedIds, ChildCategory, form) }}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endmacro %}
                            <div class="c-directoryTree--register rounded mb-3 ec-check{{ has_errors(form.Category) ? ' error' }}">
                                {% import _self as renderMacro %}
                                {% for TopCategory in TopCategories %}
                                    <ul class="list-unstyled">
                                        {{ renderMacro.tree(ChoicedCategoryIds, TopCategory, form.Category) }}
                                    </ul>
                                {% endfor %}
                                {{ form_errors(form.Category) }}
                            </div>
                        </div>
                        <div style="margin-top: 30px;">
                            <p class="header">登録日・更新日</p>
                            <div class="cs-dflex datetime mb-3">
                                <div class="cs-datetime-title">
                                    <i class="fa fa-flag mr-1"></i>
                                    <span>{{ 'admin.common.create_date'|trans }}：</span>
                                </div>
                                <div class="cs-datetime">
                                    <span>{{ Product.create_date|date_min }}</span>
                                </div>
                            </div>
                            <div class="cs-dflex datetime mb-3">
                                <div class="cs-datetime-title">
                                    <i class="fa fa-refresh mr-1"></i>
                                    <span>{{ 'admin.common.update_date'|trans }}：</span>
                                </div>
                                <div class="cs-datetime">
                                    <span>{{ Product.update_date|date_min }}</span>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 30px;">
                            {# {% if Product.Status.id == 1 and Product.stock_find == false %}
                                <button class="ec-blockBtn--action mb-3" name="status" value="1">{{ '在庫更新'|trans }}</button>
                            {% else %}
                                <button class="ec-blockBtn--primary mb-3" name="status" value="4">{{ '下書き保存'|trans }}</button>
                                        
                                <button class="ec-blockBtn--action mb-3" name="status" value="2">{{ '記事審査・再審査'|trans }}</button>
                            {% endif %} #}
                            <button class="ec-blockBtn--primary mb-3" name="status" value="4">{{ '下書き保存'|trans }}</button>
                            <button class="ec-blockBtn--action mb-3" name="status" value="2">{{ '記事審査・再審査'|trans }}</button>
                            <button class="ec-blockBtn--cancel mb-3" name="status" value="3">{{ '削除'|trans }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
