{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'transfer' %}

{% set body_class = 'mypage' %}
{% set baseInfoRepository = repository('\\Eccube\\Entity\\BaseInfo') %}
{% set shopFee = baseInfoRepository.get().fee|number_format %}

{% block stylesheet %}
    <style>
        .cs-transfer__history tbody {
            font-size: 14px;
        }
        .cs-transfer__history thead .th-remarks {
            padding-left: 50px;
        }

        @media only screen and (max-width: 767px) {
            .cs-transfer__history {
                padding: 15px 0;
                overflow-x: scroll;
            }
            .cs-transfer__history table {
                width: 600px;
                max-width: unset;
            }
            .cs-transfer__history thead .th-remarks {
                padding-left: 20px;
            }
        }
    </style>
{% endblock %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'front.mypage.title'|trans }}/{{ '売上管理'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>
        <div class="ec-mypageRole">
            <div class="d-flex cs-transfer__date">
                <form method="get" action="{{ url('mypage_transfer_history') }}" novalidate>
                    <div class="cs-balance"> 合計 <b>{{ app.user.balance|price }}</b> </div>
                    <input type="month" name="transfer_date" value="{{ selectedMonth }}">
                    <button type="submit" class="ec-blockBtn--action">{{ '確認'|trans }}</button>
                </form>
            </div>
            <div class="cs-transfer__history">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>売上日時</th>
                            <th>記事</th>
                            <th>報酬額</th>
                            <th>計算</th>
                            <th class="th-remarks">備考</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderItem in orderItems %}
                        <tr>
                            <td>{{ orderItem.Order.order_date|date('Y年m月d日') }}</td>
                            <td><a class="" href="{{ url('product_detail', { id: orderItem.Product.id }) }}"> {{ orderItem.Product.name }} </a></td>
                            <td>
                                {% if orderItem.affiliater is defined and orderItem.affiliater == app.user.id %}
                                    {{ ( orderItem.Product.getPrice02IncTaxMax * orderItem.Product.affiliate_reward / 100 )|price }} <span class="plus"> + </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if orderItem.affiliater is defined and orderItem.affiliater != app.user.id %}
                                    {{ ( orderItem.Product.getPrice02IncTaxMax * ( 100 - orderItem.Product.affiliate_reward - shopFee ) / 100 )|price }}
                                {% else %}
                                    {{ ( orderItem.Product.getPrice02IncTaxMax * ( 100 - shopFee ) / 100 )|price }}
                                {% endif %}
                            </td>
                            <td>
                                {% if orderItem.affiliater is defined and orderItem.affiliater != app.user.id %}
                                    <p>
                                        <span class="label price"> {{ orderItem.Product.getPrice02IncTaxMax|price }} </span>
                                        <span class="plus"> + </span> 
                                    </p>
                                    <p> 
                                        <span class="label price"> {{ ( orderItem.Product.getPrice02IncTaxMax * orderItem.Product.affiliate_reward / 100 )|price }} </span>
                                        <span class="minus"> - </span>
                                        <span class="label">（提携）</span>
                                    </p>
                                {% else %}
                                    <p>
                                        <span class="label price"> {{ orderItem.Product.getPrice02IncTaxMax|price }} </span>
                                        <span class="plus"> + </span>
                                    </p>
                                {% endif %}
                                    <p>
                                        <span class="label price"> {{ (orderItem.Product.getPrice02IncTaxMax * shopFee / 100)|price }} </span>
                                        <span class="minus"> - </span>
                                        <span class="label">（手数料）</span>
                                    </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
