{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerLinkArea">
    <div class="ec-headerLink__list">
        <a class="ec-headerLink__item" href="{{ url('cart') }}">
            <div class="ec-headerLink__icon">
                <i class="fas fa-shopping-cart fa-fw"></i>
            </div>
            <span>{{ 'front.block.login.to_cart'|trans }}</span>
        </a>
        {% if is_granted('ROLE_USER') %}
            <a class="ec-headerLink__item" href="{{ url('mypage') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-user fa-fw"></i>
                </div>
                <span>{{ 'front.block.login.mypage'|trans }}</span>
            </a>
            {% if BaseInfo.option_favorite_product %}
                <a class="ec-headerLink__item" href="{{ url('mypage_favorite') }}">
                    <div class="ec-headerLink__icon">
                        <i class="fas fa-heart fa-fw"></i>
                    </div>
                    <span>{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            {% endif %}
            <a class="ec-headerLink__item" href="{{ url('logout') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-lock fa-fw"></i>
                </div>
                <span>{{ 'front.block.login.logout'|trans }}</span>
            </a>
        {% else %}
            <a class="ec-headerLink__item" href="{{ url('entry') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-user fa-fw"></i>
                </div>
                <span>{{ 'front.block.login.customer_registration'|trans }}</span>
            </a>
            {% if BaseInfo.option_favorite_product %}
                <a class="ec-headerLink__item" href="{{ url('mypage_favorite') }}">
                    <div class="ec-headerLink__icon">
                        <i class="fas fa-heart fa-fw"></i>
                    </div>
                    <span>{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            {% endif %}
            <a class="ec-headerLink__item" href="{{ url('mypage_login') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-lock fa-fw"></i>
                </div>
                <span>{{ 'front.block.login.login'|trans }}</span>
            </a>
        {% endif %}
        <a class="ec-headerLink__item" href="{{ url('help_agreement') }}">
            <div class="ec-headerLink__icon">
                {# <i class="fas fa-spinner fa-fw"></i> #}
            </div>
            <span>{{ '利用規約'|trans }}</span>
        </a>
        <a class="ec-headerLink__item" href="{{ url('help_tradelaw') }}">
            <div class="ec-headerLink__icon">
                {# <i class="fas fa-share-alt fa-fw"></i> #}
            </div>
            <span style="font-size: 15px">{{ 'front.block.footer.act_on_specified_commercial_transactions'|trans }}</span>
        </a>
        <a class="ec-headerLink__item" href="{{ url('homepage') }}user_data/faq">
            <div class="ec-headerLink__icon">
                {# <i class="fas fa-question fa-fw"></i> #}
            </div>
            <span>{{ 'よくある質問'|trans }}</span>
        </a>
        <a class="ec-headerLink__item" href="{{ url('homepage') }}user_data/privacy_policy">
            <div class="ec-headerLink__icon">
                {# <i class="fas fa-user-shield fa-fw"></i> #}
            </div>
            <span>{{ 'プライバシーポリシー'|trans }}</span>
        </a>
        <a class="ec-headerLink__item" href="{{ url('contact') }}">
            <div class="ec-headerLink__icon">
                {# <i class="fas fa-user-shield fa-fw"></i> #}
            </div>
            <span>{{ 'front.block.footer.inquiry'|trans }}</span>
        </a>
        <a class="ec-headerLink__item" href="{{ url('homepage') }}">
            <div class="ec-headerLink__icon">
                <i class="fas fa-home fa-fw"></i>
            </div>
            <span>{{ 'front.block.login.to_home'|trans }}</span>
        </a>
    </div>
</div>
