{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% set menus = ['customer', 'customer_edit'] %}
{% set baseInfoRepository = repository('\\Eccube\\Entity\\BaseInfo') %}
{% set shopFee = baseInfoRepository.get().fee|number_format %}

{% block title %}{{ 'admin.customer.customer_registration'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.customer.customer_management'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <style>
        .image {
            width: 170px;
            height: auto;
        }
        .image img {
            width: 100%;
        }
        .get-trasfer__date {
            margin-right: 30px;
            display: flex;
            align-items: center;
        }
        .get-trasfer__date input {
            width: 150px;
            margin-right: 10px
        }
        span.label.comment {
            width: unset;
        }
        span.label {
            width: 70px;
            margin-right: 10px;
            padding: 0;
            display: inline-block;
            text-align: right;
            font-size: 12px;
            font-weight: bold;
        }
        span.plus {
            margin-right: 5px;
            color: #0268cc;
            font-size: 14px;
            font-weight: bold;
        }

        span.minus {
            margin-right: 5px;
            color: #f13018;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
    <form name="customer_form" role="form" id="customer_form" method="post" class="h-adr"
          action="{%- if Customer.id %}{{ url('admin_customer_edit', { id : Customer.id }) }}{% else %}{{ url('admin_customer_new') }}{% endif -%}"
          novalidate>
        <span class="p-country-name" style="display:none;">Japan</span>
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8"><span class="card-title">{{ 'admin.customer.customer_info'|trans }}</span>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#ordererInfo"
                                       aria-expanded="false" aria-controls="ordererInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="ordererInfo">
                            <div class="card-body">
                                {% if Customer.id %}
                                    <div class="row mb-3">
                                        <div class="col-3">
                                            <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                                 title="{{ 'tooltip.customer.customer_id'|trans }}">
                                                <span>{{ 'admin.customer.customer_id'|trans }}</span>
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p>{{ Customer.id }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'プロフィール画像'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {% if Customer.image is not empty %}
                                            <div class="image">
                                                <img src="{{ asset(Customer.image, 'save_image') }}" alt="profile-image" />
                                                {{ form_widget(form.image, { 'attr': { 'style': 'display: none', 'value': Customer.image } }) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.name'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(form.name.name01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_widget(form.name.name02) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_errors(form.name.name01) }}
                                            </div>
                                            <div class="col">
                                                {{ form_errors(form.name.name02) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'ニックネーム'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.nick_name) }}
                                        {{ form_errors(form.nick_name) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'プロフィール'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.description) }}
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'PayPalメール'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.paypal_email) }}
                                        {{ form_errors(form.paypal_email) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ '残高'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ Customer.balance }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3"><span>{{ 'admin.common.address'|trans }}</span><span
                                                class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <div class="row justify-content-start">
                                                <div class="col-auto pr-0 align-self-center"><span>{{ 'admin.common.postal_symbol'|trans }}</span></div>
                                                <div class="col-2">
                                                    {{ form_widget(form.postal_code) }}

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    {{ form_errors(form.postal_code) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row justify-content-start">
                                                <div class="col-auto">
                                                    {{ form_widget(form.address.pref) }}
                                                    {{ form_errors(form.address.pref) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            {{ form_widget(form.address.addr01, { attr : { placeholder : 'admin.common.address_sample_01' }} ) }}
                                            {{ form_errors(form.address.addr01) }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form_widget(form.address.addr02, { attr : { placeholder : 'admin.common.address_sample_02' }}) }}
                                            {{ form_errors(form.address.addr02) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.mail_address'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.phone_number'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.phone_number) }}
                                        {{ form_errors(form.phone_number) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.password'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.password.first, { type : 'password'}) }}
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-3">
                                        <span>{{ 'admin.common.password_for_confirmation'|trans }}</span>
                                        <span class="badge badge-primary ml-1">{{ 'admin.common.required'|trans }}</span>
                                    </div>
                                    <div class="col">
                                        {{ form_widget(form.password.second, { type : 'password'}) }}
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                </div>

                                {# エンティティ拡張の自動出力 #}
                                {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                    {% if f.vars.eccube_form_options.form_theme %}
                                        {% form_theme f f.vars.eccube_form_options.form_theme %}
                                        {{ form_row(f) }}
                                    {% else %}
                                        <div class="row mb-3">
                                            <div class="col-3">
                                                <span>{{ f.vars.label|trans }}</span>
                                            </div>
                                            <div class="col">
                                                {{ form_widget(f) }}
                                                {{ form_errors(f) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                    {% if Customer.id %}
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                             title="{{ 'tooltip.customer.purchase_history'|trans }}">
                                        <span class="card-title">
                                            {{ 'admin.customer.purchase_history'|trans }}
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#orderHistory" aria-expanded="false"
                                           aria-controls="orderHistory">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="orderHistory">
                                {% if Customer.Orders|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead class="table-active">
                                            <th class="align-middle pt-2 pb-2 pl-3">{{ 'admin.order.order_date'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.order.order_no'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2">{{ 'admin.order.purchase_price'|trans }}</th>
                                            <th class="align-middle pt-2 pb-2 pr-3">{{ 'admin.order.order_status'|trans }}</th>
                                            </thead>
                                            <tbody>
                                            {% for Order in Customer.Orders %}
                                                <tr>
                                                    <td class="align-middle pl-3">{{ Order.order_date|date_min }}</td>
                                                    <td class="align-middle">
                                                        <a href="{{ url('admin_order_edit', { 'id' : Order.id }) }}">
                                                            {{ Order.order_no }}
                                                        </a>
                                                    </td>
                                                    <td class="align-middle">{{ Order.total|price }}</td>
                                                    <td class="align-middle pr-3">
                                                        <span class="badge badge-ec-blue" style="background-color: #fff; color: {{ Order.OrderStatusColor }}; border-color: {{ Order.OrderStatusColor }}">{{ Order.OrderStatus }}</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="history_box" class="data-empty">
                                        <span>
                                            {{ 'admin.customer.no_purchase_history'|trans }}
                                        </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                             title="{{ 'この会員の売上履歴が表示されます。'|trans }}">
                                            <span class="card-title">
                                                {{ '売上履歴'|trans }}
                                                <i class="fa fa-question-circle fa-lg ml-1"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-8 text-right">
                                        <div style="width: 320px; margin-left: auto; display: flex; align-items: center;">
                                            <div class="get-trasfer__date">
                                                <input type="month" class="form-control" name="transfer-date" value="{{ selectedMonth }}">
                                                <button type="submit" class="btn btn-ec-conversion px-5 ladda-button" name="mode" value="transfer" {% if Customer is empty %} disabled {% endif %} >{{ '確認'|trans }}</button>
                                            </div>
                                            <a data-toggle="collapse" href="#transferHistory" aria-expanded="false"
                                            aria-controls="transferHistory">
                                                <i class="fa fa-angle-up fa-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="transferHistory">
                                {% if Customer.Blogs|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0 pt-2 pb-2">{{ '売上日時'|trans }}</th>
                                                    <th class="border-top-0 pt-2 pb-2">{{ '記事'|trans }}</th>
                                                    <th class="border-top-0 pt-2 pb-2">{{ 'アフィリエイト'|trans }}</th>
                                                    <th class="border-top-0 pt-2 pb-2">{{ '販売'|trans }}</th>
                                                    <th class="border-top-0 pt-2 pb-2 pl-5">{{ '備考'|trans }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for orderItem in orderItems %}
                                                {% set Product = orderItem.Product %}
                                                <tr>
                                                    <td class="align-middle">{{ orderItem.Order.order_date|date('Y年m月d日') }}</td>
                                                    <td class="align-middle"><a class="" href="{{ url('admin_product_product_edit', { id: Product.id }) }}"> {{ Product.name }} </a></td>
                                                    <td class="align-middle">
                                                        {% if orderItem.affiliater is not empty and orderItem.affiliater == Customer.id %}
                                                            {{ ( Product.getPrice02IncTaxMax * Product.affiliate_reward / 100 )|price }} <span class="plus"> + </span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle">
                                                        {% if Product.Customer.id == Customer.id %}
                                                            {% if orderItem.affiliater is not empty and orderItem.affiliater != Customer.id %}
                                                                {{ ( Product.getPrice02IncTaxMax * ( 100 - Product.affiliate_reward - shopFee ) / 100 )|price }}
                                                            {% else %}
                                                                {{ ( Product.getPrice02IncTaxMax * ( 100 - shopFee ) / 100 )|price }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle" style="width: 25%">
                                                        {% if Product.Customer.id == Customer.id %}
                                                            {% if orderItem.affiliater is not empty and orderItem.affiliater != Customer.id %}
                                                                    <span class="label price"> {{ Product.getPrice02IncTaxMax|price }} </span>
                                                                    <span class="plus"> + </span>
                                                                    <span class="label comment">（記事販売額）</span> <br />
                                                                    <span class="label price"> {{ ( Product.getPrice02IncTaxMax * Product.affiliate_reward / 100 )|price }} </span>
                                                                    <span class="minus"> - </span>
                                                                    <span class="label comment">（アフィリエイト）</span><br />
                                                            {% else %}
                                                                    <span class="label price"> {{ Product.getPrice02IncTaxMax|price }} </span>
                                                                    <span class="plus"> + </span>
                                                                    <span class="label comment">（記事販売額）</span> <br />
                                                            {% endif %}
                                                                    <span class="label price"> {{ (Product.getPrice02IncTaxMax * shopFee / 100)|price }} </span>
                                                                    <span class="minus"> - </span>
                                                                    <span class="label comment">（手数料）</span><br />
                                                        {% else %}
                                                            <span>販売者：　　
                                                                {% if Product.Customer is not empty %}
                                                                    <a href="{{ url('admin_customer_edit', { id: Product.Customer.id }) }}"> {{ Product.Customer.nick_name }} </a>
                                                                {% else %}
                                                                    管理者
                                                                {% endif %}
                                                            </span><br/>
                                                            <span>購⼊者：　　
                                                                    <a href="{{ url('admin_customer_edit', { id: orderItem.Order.Customer.id }) }}"> {{ orderItem.Order.Customer.nick_name }} </a>
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="history_box" class="data-empty">
                                        <span>
                                            {{ 'この会員の投稿履歴がありません'|trans }}
                                        </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="card rounded border-0 mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                             title="{{ 'この会員が記事を投稿した履歴が表示されます。'|trans }}">
                                        <span class="card-title">
                                            {{ '記事投稿'|trans }}
                                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a data-toggle="collapse" href="#blogHistory" aria-expanded="false"
                                           aria-controls="blogHistory">
                                            <i class="fa fa-angle-up fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse show ec-cardCollapse" id="blogHistory">
                                {% if Customer.Blogs|length > 0 %}
                                    <div class="card-body">
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.product_id__short'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.image__short'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.name'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.price'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'アフィリエイト報酬'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2 text-nowrap">{{ 'admin.product.display_status__short'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'admin.common.create_date'|trans }}</th>
                                                <th class="border-top-0 pt-2 pb-2">{{ 'admin.common.update_date'|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for Blog in Customer.Blogs if Blog.Status.id != 3 %}
                                                <tr id="ex-product-{{ Blog.id }}">
                                                    <td class="align-middle">{{ Blog.id }}</td>
                                                    {# TODO: 画像のサイズをベタ指定しているので、styleguide側を直す #}
                                                    <td class="align-middle">
                                                        <a href="{{ url('admin_product_product_edit', { id : Blog.id }) }}">
                                                            <img src="{{ asset(Blog.mainFileName|no_image_product, 'save_image') }}"
                                                                style="max-width: 50px">
                                                        </a>
                                                    </td>
                                                    <td class="align-middle"><a
                                                                href="{{ url('admin_product_product_edit', { id : Blog.id }) }}">{{ Blog.name }}</a>
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ Blog.price02_min|price }}
                                                        {% if Blog.price02_min != Blog.price02_max %}{{ 'admin.common.separator__range'|trans }}{{ Blog.price02_max|price }}
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ Blog.affiliate_reward }}%
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ Blog.status.name }}
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ Blog.create_date|date_min }}
                                                    </td>
                                                    <td class="align-middle">
                                                        {{ Blog.update_date|date_min }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <div id="history_box" class="data-empty">
                                        <span>
                                            {{ 'この会員の投稿履歴がありません'|trans }}
                                        </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block" data-tooltip="true" data-placement="top"
                                         title="{{ 'tooltip.customer.shop_memo'|trans }}">
                                        <span class="card-title">{{ 'admin.common.shop_memo'|trans }}</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#shopMemo" aria-expanded="false"
                                       aria-controls="shopMemo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="shopMemo">
                            <div class="card-body">
                                {{ form_widget(form.note, { 'attr': { 'row': 8 }}) }}
                                {{ form_errors(form.note) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink"
                               href="{{ url('admin_customer_page', { page_no : app.session.get('eccube.admin.customer.search.page_no')|default('1') } ) }}?resume=1">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'admin.customer.customer_list'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                {{ form_widget(form.status) }}
                                {{ form_errors(form.status) }}
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
